@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #0a0b10;

  --surface: #10131a;

  --primary: #00f5a0;

  --primary-soft: rgba(0, 245, 160, 0.15);

  --text: #ffffff;

  --text-muted: #a1a1aa;

  --border: rgba(255, 255, 255, 0.08);

  --font-heading: var(--font-orbitron);

  --font-body: var(--font-inter);

  --container-width: 1400px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-body);

  min-height: 100vh;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

::selection {
  background: var(--primary);
  color: black;
}

.container {
  width: min(90%, var(--container-width));
  margin-inline: auto;
}